body{
    background-color: #6c6c6c;
}

#container{
    height: 420px;
    width: 350px;
    margin: 40px auto;
    background: #ffffff;
    border: solid black;
    border-radius: 20px;
    padding: 20px;
    text-align: center;

}